.containertexto{
    font-family: times new Roman;
    color: white
}

.titulo{
    font-size: 50px;
    text-align: center;
}

.subtitulo{
    font-size: 30px;
}

.paragrafo{
    font-size: 25px;
}

strong{
    font-weight: bold;
    color: black;
}

.tnota{
    font-size: 20px;
    color: aliceblue;
}