
.main{
    font-family: times new Roman;
    color: black;
    font-size: 20px;
    font-weight: bold;    
}

.nota{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    
}

.acorde{
    width: 80px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    
}